:host {
  height: 50px;
  position: fixed;
  width: 100vw;
  left:0;
  bottom:0;
  background:#111;
  color:#CCC;
  z-index: 1;
  display:flex;
  align-items: center;
  justify-content: center;
  font-family:sans-serif;
}
