<app-searcher [reduxKey]="'SET_NEW_RESULTS'"></app-searcher>
<button
  mat-flat-button
  color="primary"
  (click)="seeMore()"
  *ngIf="reduxService.ngRedux.getState().lastSearch.items.length"
  class="see-more"
>See more +</button>
<div class="list-wrapper">
  <mat-list>
    <mat-list-item *ngFor="let car of reduxService.ngRedux.getState().lastSearch.items">
      <mat-icon
        matListIcon
        (click)="apiService.toggleFavCar(car)"
      >{{ car.fav ? 'star' : 'star_border' }}</mat-icon>
      {{ car.brand }} {{ car.model }}
      <span class="price">
        {{ car.price }} €
      </span>
    </mat-list-item>
  </mat-list>
</div>
<app-bottom-options></app-bottom-options>
