:host {
  display: block;
  padding-top: 50px;
}

.list-wrapper {
  padding:10px;
}

mat-list-item {
  &:nth-child(odd) {
    background:#EEE;
  }

  .price {
    position: absolute;
    right: 10px;
  }
}

mat-icon {
  margin-left:-12px;
}

.see-more {
  display: block;
  padding-right: 20px;
  position: fixed;
  top:5px;
  right: 10px;
  z-index: 2;
}
