<mat-form-field>
  <input
    matInput
    placeholder="Search for cars.."
    [(ngModel)]="reduxService.ngRedux.getState()[storeKey].term"
    (ngModelChange)="searchTermChange()"
  >
</mat-form-field>
<p *ngIf="reduxKey == 'SET_NEW_RESULTS'">
  Order by:
  <button (click)="orderBy('brand')">Brand</button>
  <button (click)="orderBy('model')">Model</button>
  <button (click)="orderBy('price')">Price</button>
</p>
<p *ngIf="reduxKey == 'SET_NEW_FAV_RESULTS'">
  Filter by:
  <button (click)="filterBy('brand')">Brand</button>
  <button (click)="filterBy('model')">Model</button>
</p>
