:host {
  display: block;
  position: fixed;
  top:0;
  left:0;
  width:100vw;
  height: 80px;
  background: #FFF;
  z-index: 1;
  padding:0 10px;
}

mat-form-field {
  width:calc(100% - 20px);
}

p {
  margin:0;
  padding:0;
  font-family: sans-serif;
  position: relative;
  top: -12px;
  font-size: 13px;

  button {
    border:solid 1px #CCC;
    margin:0 5px;
    background:#FFF;
    outline:0;
  }
}
