.thumb {
  width:100px;
  height: auto;
  margin-left: -30px;
  margin-right: 5px;

  @media screen and (min-width: 768px) {
    width:200px;
    height: auto;
  }
}

mat-list-item {
  height: auto !important;
  font-size:4vw !important;

  @media screen and (min-width: 400px) {
    font-size:20px !important;
  }
}

mat-icon {
  position: absolute;
  right: 0;
  cursor:pointer;
}

p { font-family: sans-serif; }
