<app-searcher [reduxKey]="'SET_NEW_FAV_RESULTS'"></app-searcher>
<mat-list>
  <ng-template ngFor let-car [ngForOf]="reduxService.ngRedux.getState().lastFavSearch.items" let-carIndex="index">
    <mat-list-item>
      <img
        [src]="'assets/images/' + car.image"
        alt="{{ car.brand }} {{ car.model }}"
        class="thumb"
      >
      {{ car.brand }} {{ car.model }}
      <mat-icon (click)="removeFav(car)">clear</mat-icon>
    </mat-list-item>
  </ng-template>
</mat-list>
<p *ngIf="favCarsCount == 0">(No favourite cars)</p>
